<h1>About</h1>
<p>The Dog Aging Project is an open science, longitudinal scientific study aimed at understanding the biological and environmental factors that influence aging in dogs, to find ways to extend healthy lifespan in dogs, and to gain biological insights relevant to human aging. The Dog Aging Project is supported under U19 grant AG057377 (PI: Daniel Promislow) from the National Institute on Aging, a part of the National Institutes of Health, and by additional grants and private donations. The Dog Aging Project data are publicly available and housed on the Terra platform at the Broad Institute of MIT and Harvard. <p>

<p>This DAP PheWeb website allows for interactive visualization of genome wide association studies (GWAS) to investigate the genetic contributions to DAP phenotypes, by extending the existing PheWeb software for use in dogs: <p>

<b>Gagliano Taliun, S.A., VandeHaar, P. et al. Exploring and visualizing large-scale genetic associations by using PheWeb. Nat Genet 52, 550–552 (2020). </b>

<p>Source code for PheWeb can be found <a href="https://github.com/statgen/pheweb/">here</a> version {{ config.PHEWEB_VERSION }}.</p>
<p>The code for this DAP-specific pheweb is hosted at <a href="https://github.com/AkeyLab/DAP_pheweb">github</a> (currently private)</p>
<br>
<p>All positions are from Reference <a href="https://genome.ucsc.edu/cgi-bin/hgGateway?db=canFam4">CanFam4</a></p>
